<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<title>Poi Editor</title>
	<link rel="stylesheet" type="text/css" href="bundle/bundle.css" />
</head>
<body>
    <div id="wrapper" class="h-wrapper js-wrapper">
        <div id="map" class="h-map"></div>
        <div class="b-poi__list__holder">
            <ul class="b-poi__list"></ul>
        </div>
        <ul class="b-poi__list__buttons">
            <li class="b-poi__list__buttons__frame">
                <div class="b-poi__list__buttons-holder">
                    <a href="#" class="b-poi__list__button js-home" data-step="1" data-intro="Тут вы можете вернуться на стартовую страницу" data-position='right'>Домой</a>
                    <span class="b-poi__list__info">Вернуться на стартовую страницу</span>
                </div>
                <div class="b-poi__list__buttons-holder _small__btn">
                    <span class="b-poi__list__button js-home" data-step="2" data-intro="Посмотреть этот же курс обучения" data-position='right' onclick="javascript:introJs().start();">Подсказки</span>
                    <span class="b-poi__list__info">Посмотреть инструкцию сайта</span>
                </div>
            </li>
            <li class="b-poi__list__buttons__frame">
                <div class="b-poi__list__buttons-holder">
                    <button class="b-poi__list__button js-toggle__editor" data-step="3" data-intro="А здесь - добавить новую точку" data-position='right'>Добавить точку</button>
                    <span class="b-poi__list__info">Добавление точки кликом по карте</span>
                </div>
                <div class="b-poi__list__buttons-holder _small__btn">
                    <button class="b-poi__list__button js-cancel__add" data-step="4" data-intro="А если передумали - отменить добавление" data-position='right'>Отменить</button>
                    <span class="b-poi__list__info">Отменить добавление точки кликом по карте</span>
                </div>
            </li>
            <li class="b-poi__list__buttons__frame">
                <div class="b-poi__list__buttons-holder" data-step="5" data-intro="Поделитесь с друзьями своим путешествием - для этого необходимо нажать на 'Скопировать базу' и переслать вашему другу весь текст из поля ниже" data-position='right'>
                    <button class="b-poi__list__button js-poi__list__create__link">Скопировать базу</button>
                    <span class="b-poi__list__info">Копировать маршрут путешествия(без фото)</span>
                    <div class="b-poi__list__share__holder">
                        <textarea class="b-poi__list__share js-poi__list__share"></textarea>
                    </div>
                </div>
                <div class="b-poi__list__buttons-holder _small__btn" data-step="6" data-intro="Для просмотра/редактирования копии путешествия вашего друга - вставьте в поле, присланный им текст, и нажмите кнопку 'Вставить'" data-position='right'>
                    <button class="b-poi__list__button _small__btn js-add__share">Вставить</button>
                    <span class="b-poi__list__info">Вставить маршрут путешествия</span>
                    <div class="b-poi__list__share__holder">
                        <textarea class="b-poi__list__share _small__btn js-poi__list__input-share"></textarea>
                    </div>
                </div>
            </li>
            <li class="b-poi__list__buttons__frame">
                <div class="b-poi__list__buttons-holder">
                    <button class="b-poi__list__button rotating js-poi__list__delete__all" data-step="7" data-intro="Ну а если созданный маршрут вам больше не нужен - так будет быстрее всего от него избавиться <br />;-)" data-position='right'>Удалить все точки</button>
                    <span class="b-poi__list__info">Удаление всех точек из базы(Внимание! Точки удаляются безвозвратно)</span>
                </div>
            </li>
        </ul>
        <ul class="b-poi__images"></ul>
        <div class="b-index__top">

        </div>
        <div class="b-index__bottom">

        </div>
        <ul class="b-index__nav js-index__nav">
            <li class="b-index__nav__frame">
                <a href="#map" class="b-to-map js-to-map">Начать</a>
            </li>
            <li class="b-index__nav__frame">
                <a href="#map" class="b-to-map js-to-map js-to-map__help" onclick="javascript:introJs().start();">Подсказки</a>
            </li>
        </ul>
    </div>


    <script type="text/template" id="poi-images__template">
        <% if(this.model.get('imageSrc')) { %>
            <img class="b-poi__image__row" height="100" src="<%=  this.model.get('imageSrc')%>" alt="Poi image"/>
        <% } else { %>
            <img class="b-poi__image__row" width="100" height="100" src="images/default.jpg" alt="Poi image"/>
        <% } %>
    </script>

    <script type="text/template" id="poi-map__template">
        <div class="b-map__info">
            <h2 class="b-map__info__title"><strong><%= this.model.get('title') %></strong></h2>
            <p><%= this.model.get('description') %></p>
            <img class="b-poi__image" src="<%=  this.model.get('imageSrc')%>" alt="Poi image"/>
            <button class="b-poi-editor__template__btn b-poi__edit">Редактировать</button>
        </div>
    </script>

    <script type="text/template" id="poi-list__template">
        <h2 class="b-poi__title"><%= this.model.get('title') %></h2>
        <ul class="b-edit__holder">
            <li class="b-edit__holder__frame">
                <span class="b-edit__holder__btn b-edit">редактировать</span>
            </li>
            <li class="b-edit__holder__frame">
                <span class="b-edit__holder__btn b-delete">удалить</span>
            </li>
        </ul>
    </script>


    <script type="text/template" id="poi-editor__template">
        <h2>Заголовок</h2>
        <input class="edit__title" value="<%= this.model.get('title') %>" type="text"/>
        <h2>Описание</h2>
        <textarea class="edit__description" placeholder="Добавьте описание"><%= this.model.get('description') %></textarea>
        <input id="input-file" type="file"/>
        <% if(this.model.get('imageSrc')) { %>
            <img class="b-poi__image" src="<%=  this.model.get('imageSrc')%>" alt="Poi image"/>
        <% } %>
        <ul class="b-poi-editor__template__btns">
            <li class="b-poi-editor__template__btns__frame">
                <button class="b-poi-editor__template__btn b-saveEdit">Сохранить</button>
            </li>
            <li class="b-poi-editor__template__btns__frame">
                <button class="b-poi-editor__template__btn b-closeEdit">Закрыть</button>
            </li>
            <li class="b-poi-editor__template__btns__frame">
                <button class="b-poi-editor__template__btn b-deletePoi">Удалить</button>
            </li>
        </ul>
    </script>



<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script>

    </script>
<script type="text/javascript" src="vendor/jquery.js"></script>
<script type="text/javascript" src="vendor/underscore.js"></script>
<script type="text/javascript" src="vendor/backbone.js"></script>
<script type="text/javascript" src="vendor/backbone.localStorage-min.js"></script>
<script type="text/javascript" src="vendor/intro.js"></script>
<script type="text/javascript" src="vendor/sweet-alert.js"></script>
<script type="text/javascript" src="bundle/bundle.js"></script>
</body>
</html>