html,
body{
	height: 100%;
}
body{
	margin:0;
	color:#000;
	font:12px/15px Arial, Helvetica, sans-serif;
	background:#fff;
	min-width:960px;
}
img{
	border-style:none;
	vertical-align:top;
}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
a:active{background-color:transparent;}
input,
textarea,
select{
	font:100% Arial, Helvetica, sans-serif;
	vertical-align:middle;
	color:#000;
}
form,fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
.g-hide{ display: none;}
.h-wrapper,
.h-map{
	height: 100%;
}
.b-poi__list__holder{
    position: absolute;
    z-index: 9999;
    right: 10px;
    top: 0;
	padding: 25px 0 106px;
	box-sizing: border-box;
    height: 100%;
	font:12px/15px Arial, Helvetica, sans-serif;
}
.b-poi__list{
    overflow: auto;
    max-height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #fff;
}
.b-poi__list__frame{
    padding: 5px 10px;
    border: 1px solid #000;
}
.b-poi__list__frame.animate{
	border-color: #f00;
	background-color: #ffe4e1;
}
.b-poi__title{
    margin: 0;
	font:12px/15px Arial, Helvetica, sans-serif;
}
.b-map__info__title{
	font:15px/18px Arial, Helvetica, sans-serif;
}
.b-poi-editor{
    position: absolute;
    overflow: auto;
    z-index: 9999;
    right: 210px;
    top: 25px;
    max-height: 200px;
    width: 222px;
    padding: 30px;
    background-color: #fff;
    border: 1px solid #000;
}
.b-map__info{
	width: 200px;
    padding: 0 0 10px 15px;
}
.b-poi__list__buttons{
    position: absolute;
    right: 222px;
    top: 23px;
    margin: auto;
    padding: 0;
    list-style-type: none;
	white-space: nowrap;
}
.b-poi__list__buttons__frame{
	position: relative;
	display: inline-block;
	vertical-align: top;
    width: 150px;
    margin: 0 0 0 10px;
}
.b-poi__list__buttons__frame._small__btn{
    width: 80px;
    margin: 0 0 0 -5px;
}
.b-poi__list__buttons__frame:first-child{
    margin: 0;
}
.b-poi__list__share__holder{
	position: absolute;
	z-index: 9;
	left: 0;
	right: 3px;
	bottom: 4px;
	height: 15px;
}
.b-poi__list__share{
	display: block;
	width: 100%;
	height: 15px;
	overflow: hidden;
	border: 1px solid #000;
	padding: 0;
	background: #fff;
	font-size: 12px;
	line-height: 15px;
}
.b-poi__list__button{
	cursor: pointer;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    display: block;
}
.b-edit__holder{
	overflow: hidden;
    text-align: right;
}
.b-edit{
	float: left;
    font-size: 10px;
    line-height: 12px;
    color: #aaa;
    cursor: pointer;
}
.b-delete{
	float: right;
	font-size: 10px;
	line-height: 12px;
	color: #aaa;
	cursor: pointer;
}
.edit__description{
    margin: 0 0 10px;
    padding: 0;
    width: 220px;
    height: 50px;
}
.b-poi__images{
    position: absolute;
    z-index: 10005;
    left: 0;
    bottom: 0;
    max-width: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
    list-style-type: none;
    white-space: nowrap;
}
.b-poi__images__frame{
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 100px;
    margin: 0 0 0 -3px;
    border: 3px solid #ccc;
}
.b-poi__images__frame:first-child{ margin: 0;}
.b-poi__images__frame:hover{
    cursor: pointer;
    z-index: 10006;
    border-color: #777;
}
.b-poi__images__frame.animate{
    border-color: #f00;
    z-index: 10008;
}
.b-poi__image__row{
    display: block;
    min-height: 100%;
    min-width: 100%;
}
.b-poi__image{
    display: block;
    width: 100%;
}